.blog {
  padding: 40px 0;
  max-width: 1240px;
  margin:0 auto;

  .container {
    padding: 0 20px;

    .blog-title {
      font-family: 'Lora', serif;
      font-size: 38px;
      font-weight: 400;
      color: #709fdc;
      margin-bottom: 30px;
      line-height: 1.3;
      text-align: start;
    }

    .blog-filters {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      flex-wrap: wrap;
      gap: 20px;

      .blog-tags {
        flex: 1;
        min-width: 300px;
      }

      .filter-dropdown-wrapper {
        flex-shrink: 0;
      }
    }
  }
}
