<!-- blog.html - ОБНОВЛЕННЫЙ ФАЙЛ -->
<section class="blog">
  <div class="container">
    <h2 class="blog-title">Блог</h2>



    <div class="blog-filters">

      <!-- Плашки выбранных категорий -->
      <div class="blog-tags">
        <app-blog-tags
          [selectedCategories]="selectedCategories"
          (categoriesChange)="onCategorySelect($event)"
        ></app-blog-tags>
      </div>

      <!-- Выпадающий список фильтра -->
      <div class="filter-dropdown-wrapper">
        <app-filter-dropdown
          [selectedCategories]="selectedCategories"
          (categoriesChange)="onCategorySelect($event)"
        ></app-filter-dropdown>
      </div>



      <!-- Сортировка -->
<!--      <app-filter-select-->
<!--        [selectedSort]="sortBy"-->
<!--        (sortChange)="onSortChange($event)"-->
<!--      ></app-filter-select>-->
    </div>

    <app-article-list
      [articles]="articles"
      [isLoading]="isLoading"
      [error]="error"
    ></app-article-list>

    <app-blog-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="onPageChange($event)"
    ></app-blog-pagination>
  </div>
</section>
