<section class="blog">
  <div class="container">
    <h2 class="blog-title">Блог</h2>
    <div class="blog-filters">

      <div class="blog-tags">
        <app-blog-tags
          [selectedCategories]="selectedCategories()"
          (categoriesChange)="onCategorySelect($event)"
        ></app-blog-tags>
      </div>

      <div class="filter-dropdown-wrapper">
        <app-filter-dropdown
          [selectedCategories]="selectedCategories()"
          (categoriesChange)="onCategorySelect($event)"
        ></app-filter-dropdown>
      </div>
    </div>

    <app-article-list
      [articles]="articles()"
      [isLoading]="isLoading()"
      [error]="error()"
    ></app-article-list>

    <app-blog-pagination
      [currentPage]="currentPage()"
      [totalPages]="totalPages()"
      (pageChange)="onPageChange($event)"
    ></app-blog-pagination>
  </div>
</section>
