.blog-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 84px;

  .section-title {
    font-family: 'Lora', serif;
    font-size: 38px;
    font-weight: 400;
    color: #709fdc;
    margin-block: 0 40px;
    line-height: 1.3;
  }

  .error {
    color: #ff4444;
  }

  .articles-grid {
    position: relative;
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }
}
