.article-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 292px;

  .article-content {
    margin-bottom: 30px;

    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-4px);

      .article-image img {
        transform: scale(1.02);
      }
    }

    .article-image {
      width: 291px;
      height: 291px;
      position: relative;
      margin-bottom: 15px;
      overflow: hidden;
      border-radius: 5px;
    }

    .article-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 0.3s ease;
    }

    .article-tag {
      position: absolute;
      top: 10px;
      right: 9px;
      background-color: #ffffff;
      padding: 10px 18px;
      border-radius: 5px;
      font-size: 11px;
      color: #709fdc;
      text-align: center;
      line-height: 1.3;
    }

    .article-title {
      font-size: 20px;
      font-weight: 400;
      color: #709fdc;
      line-height: 1.3;
      margin-block: 0 20px;
      min-height: 78px;
    }

    .article-description {
      margin-block: 0;
      font-size: 14px;
      font-weight: 400;
      color: #071739;
      line-height: 1.3;

      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      min-height: 165px;
    }

    .article-meta {
      margin-top: 4px;
      margin-bottom: 8px;

      .article-date {
        font-size: 12px;
        color: #888;
        line-height: 1.3;
        margin-bottom: 8px;
      }
    }
  }

  .article-link {
    font-size: 16px;
    color: #709fdc;
    text-decoration: underline;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    line-height: 1.3;
    display: inline-block;
    transition: color 0.3s ease;

    &:hover {
      color: #5a8bd6;
    }
  }
}



