.reviews {
  max-width: 1200px;
  margin: 0 auto 120px auto;

  .reviews__title {
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .reviews__wrap {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;

    .review-card {
      border: 1px solid #7aa2e8;
      border-radius: 4px;
      padding: 28px;
      min-height: 220px;
      background: #fff;

      .review-card__avatar {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        object-fit: cover;
      }

      .review-card__name {
        margin-top: 14px;
        font-size: 22px;
        color: #7aa2e8;
      }

      .review-card__text {
        min-height: 135px;
        margin-top: 15px;
        font-size: 16px;
        line-height: 1.4;
      }
    }
  }
}

.reviews__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  width: 44px;
  height: 44px;
  border: none;
  background: transparent;
  font-size: 44px;
  line-height: 44px;
  cursor: pointer;
}

.reviews__nav--prev { left: 10px; }

.reviews__nav--next { right: 10px; }









.reviews__nav {
  display: grid;
  place-items: center;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.reviews__nav-icon {
  width: 35px;
  height: 35px;
  background-color: #7aa0ff; /* пример: можешь сделать другой цвет */
  -webkit-mask: url("/assets/icons/arrow-left.svg") no-repeat center / contain;
  mask: url("/assets/icons/arrow-left.svg") no-repeat center / contain;
}

.reviews__nav--next .reviews__nav-icon {
  transform: scaleX(-1);
}

.reviews__nav--prev {
  left: -60px;
}

.reviews__nav--next {
  right: -60px;
}
