.breadcrumbs {
  font-family: "Monserrat", sans-serif;
  margin-bottom: 60px;
  font-size: 16px;

  .breadcrumbs-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;

    .breadcrumbs-item {
      display: flex;
      align-items: center;

      .breadcrumbs-link {
        text-decoration: none;
        transition: color 0.2s;

        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #b9d5fd;

        &:hover {
          color: #333;
          text-decoration: underline;
        }
      }

    }

    .breadcrumbs-separator {
      margin: 0 8px;
      font-weight: 400;
      font-size: 14px;
      color: #b9d5fd;
    }
  }

  &-current {
    color: #709FDC;
    font-weight: 500;
  }
}
