.filter-dropdown {
  position: relative;
  display: inline-block;

  .filter-dropdown-toggle {
    width: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    background: white;
    border: 1px solid transparent;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #071739;
    z-index: 101;

    transition: all 0.3s ease;
    white-space: nowrap;

    &.open {
      border-radius: 5px 5px 0 0;
      border: 1px solid #b9d5fd;
      background: #b9d5fd;
      width: 220px;
    }

    .arrow-icon {
      transition: transform 0.3s ease;

      & path {
        fill: #071739;
      }
    }

    &.open .arrow-icon {
      transform: rotate(180deg);
    }
  }

  .filter-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #b9d5fd;
    border-radius: 0 0 5px 5px;
    min-width: 148px;
    max-width: 148px;
    z-index: 100;
    box-sizing: border-box;

//    transition: all 0.3s ease;

    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0.3s ease,
      min-width 0.3s ease,
      max-width 0.3s ease;

    transform-origin: top right;

    /* Начальное состояние (скрыто) */
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
    visibility: hidden;


    .loading, .error {
      padding: 15px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
    }

    .error {
      color: #ff4444;
    }

    .categories-list {
      max-height: 300px;
      overflow-y: auto;

      .category-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: #f8fafc;
        }

        &.selected {

          .category-name {
            color: #071739;
            font-weight: 500;
          }
        }

        .category-name {
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          color: #bebebe;

          .selected & {
            color: #071739;
          }
        }

        .category-icon {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .filter-dropdown-toggle.open + .filter-dropdown-menu {
    opacity: 1;
    transform: translateY(0) scale(1);
    visibility: visible;
    min-width: 220px; /* Расширяем меню до ширины кнопки */
    max-width: 220px;
  }
}
