@use '@angular/material' as mat;
@use './assets/styles/variables';
@use './assets/styles/fonts';
@use './assets/styles/global';


html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
  scroll-behavior: smooth;

}

body {

}

.mat-mdc-menu-panel {
  margin-top: 5px !important;
}

.mat-mdc-menu-content {
  background-color: #709fdc !important;
}

.mat-mdc-menu-item {
  color: white !important;
  min-height: auto !important;
}

.mat-mdc-menu-item-text {
  font-size: 16px !important;
}

