.related-card {
  transition: all 0.3s ease;
  overflow: hidden;

  &-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.3s ease;


    &:hover {
      transform: translateY(-4px);

      .article-image img {
        transform: scale(1.02);
      }
    }
  }

  &-image {
    position: relative;
    width: 100%;
    height: 290px;
    overflow: hidden;
    border-radius: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
  }

  &-tag {
    position: absolute;
    top: 12px;
    right: 12px;
    background: rgba(255, 255, 255, 0.9);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #709fdc;
    backdrop-filter: blur(4px);
  }

  &-body {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &-title {
    margin: 0 0 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: #709fdc;
    transition: color 0.2s;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &-description {
    margin-top: 0;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #071739;
    flex-grow: 1;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .article-link {
    align-self: flex-start;
    background: transparent;
    border: none;
    padding: 0;
    color: #709fdc;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none;
    border-bottom: 1px solid #709fdc;
  }
}

@media (max-width: 768px) {
  .related-card {
    &-image {
      height: 150px;
    }

    &-body {
      padding: 15px;
    }

    &-title {
      font-size: 16px;
    }

    &-description {
      font-size: 13px;
    }
  }
}
