<article class="related-card">
  <div class="related-card-content">

    <div class="related-card-image">
      <img [src]="getImageUrl()" [alt]="article().title">
      <span class="related-card-tag">{{ getCategoryName() }}</span>
    </div>

    <div class="related-card-body">
      <h4 class="related-card-title">{{ article().title }}</h4>

      @if (article().description) {
        <p class="related-card-description">
          {{ getShortDescription() }}
        </p>
      }

      <a [routerLink]="['/blog', article().url]"  class="article-link">
        Читать дальше
      </a>
    </div>
  </div>
</article>
