<section class="login" [formGroup]="loginForm">
  <div class="container">
    <div class="auth-form">
      <div class="auth-title">
        Войти в личный кабинет
      </div>
      <div class="auth-inputs">
        <div class="auth-input">
          <input
            id="email"
            type="text"
            class="input"
            [class.invalid]="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)"
            placeholder="Электронная почта"
            formControlName="email"
          />
          @if (loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)) {
            <div class="error-message">
              @if (loginForm.get('email')?.errors?.['required']) {
                Email обязателен
              }
              @if (loginForm.get('email')?.errors?.['email']) {
                Введите корректный email
              }
            </div>
          }

          <input
            id="password"
            type="password"
            class="input"
            [class.invalid]="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
            placeholder="Пароль"
            formControlName="password"
          />
          @if (loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)) {
            <div class="error-message">
              Пароль обязателен
            </div>
          }
        </div>
        <div class="auth-checkbox">
          <input
            type="checkbox"
            id="remember"
            formControlName="rememberMe"
          />
          <label for="remember">Запомнить меня</label>
        </div>
      </div>

      <div class="auth-button">
        <button
          class="button"
          [disabled]="loginForm.invalid || isSubmitting()"
          (click)="login()"
        >
          @if (isSubmitting()) {
            Вход...
          } @else {
            Войти
          }
        </button>
      </div>
      <div class="auth-link">
        Нет аккаунта?
        <a routerLink="/signup">Пройдите регистрацию</a>
      </div>
    </div>

    <div class="page-image">
      <img
        src="/assets/images/page/login.png"
        alt="flower"
        loading="lazy"
      />
    </div>
  </div>
</section>
