@use '../../../../assets/styles/auth-form';

.login {
  padding-block: 120px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .page-image {
      margin-right: 26px;

      img {
        vertical-align: bottom;
      }
    }
  }
}

.input {
  &.invalid {
    border-color: #E25454 !important;
  }
}

.error-message {
  margin-top: 4px;
  font-size: 12px;
  line-height: 130%;
  color: #E25454;
  text-align: left;
}
