@use '../../../../assets/styles/auth-form';

.login {
  padding-block: 120px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .page-image {
      margin-right: 26px;

      img {
        vertical-align: bottom;
      }
    }
  }
}
