@use '../../../../assets/styles/auth-form';

.signup {
  margin-top: 10px;
  padding-bottom: 120px;

  .container {
    display: flex;

    .page-image {
      margin-left: 222px;
      align-self: flex-end;

      img {
        display: block;
      }
    }
  }
}
