.auth-form {

  .auth-title {
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: var(--blue-accent-color);
    margin-bottom: 35px;
  }

  .auth-inputs {
    margin-bottom: 40px;

    .auth-input {
      display: flex;
      flex-direction: column;
      margin-bottom: 8px;
      row-gap: 8px;

      input {
        width: 422px;
      }
    }
  }

  .auth-checkbox {
    max-width: 422px;
    display: flex;
    align-items: baseline;

    input {
      margin: 0;
    }


    label {
      font-size: 14px;
      line-height: 130%;
      margin-left: 10px;

      a {
        font-size: 14px;
        color: #709fdc;
        text-decoration: none;
      }
    }
  }

  .auth-button {
    margin-top: 30px;

    button.button {
      width: 422px;
      height: 51px;
      font-size: 16px;
    }
  }

  .auth-link {
    margin-top: 10px;
    font-size: 14px;
    color: var(--gray-text-color-);
    a {
      text-decoration: none;
      margin-left: 5px;
      color: var(--blue-accent-color);
    }
  }
}

