@font-face {
  src: url("../fonts/Montserrat-Regular.woff2");
  font-family: "Montserrat";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Montserrat-Medium.woff2");
  font-family: "Montserrat";
  font-weight: 500;
}

@font-face {
  src: url("../fonts/Montserrat-SemiBold.woff2");
  font-family: "Montserrat";
  font-weight: 600;
}

@font-face {
  src: url("../fonts/Lora-Regular.woff2");
  font-family: "Lora";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Lora-Medium.woff2");
  font-family: "Lora";
  font-weight: 500;
}

@font-face {
  src: url("../fonts/Jost-Regular.woff2");
  font-family: "Jost";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Jost-Medium.woff2");
  font-family: "Jost";
  font-weight: 500;
}

@font-face {
  src: url("../fonts/SuisseIntl.woff2");
  font-family: "Suisse";
  font-weight: 400;
}

//@font-face {
//  src: url("../fonts/Roboto-Regular.woff2");
//  font-family: "Roboto";
//  font-weight: 400;
//}
//
//@font-face {
//  src: url("../fonts/Roboto-Medium.woff2");
//  font-family: "Roboto";
//  font-weight: 500;
//}
