:root {
  --blue-accent-color: #709FDC;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: var(--container-width);
  margin-inline: auto;
  position: relative;
}

h2 {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  color: var(--blue-accent-color);
}



.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: var(--blue-accent-color);
  color: #fff;
  cursor: pointer;

  font-weight: 500;
  line-height: 130%;

  transition: background-color 0.2s ease;

  &:disabled {
    background: #B9D5FD;
    cursor: not-allowed;
  }

  &:hover {
    background: #709FDC;
  }
}

.input {
  box-sizing: border-box;
  padding: 20px 64px 20px 20px;

  border: 1.50px solid var(--blue-accent-color);
  border-radius: 3px;
  font-size: 14px;
  line-height: 130%;

  &::placeholder {
  color: #a8aba7;
  }
}
